[submodule "kohana"]
	path = kohana
	url = https://github.com/kohana/core.git
[submodule "modules/sugar"]
	path = modules/sugar
	url = git@github.com:Omniasoft/kohana-sugar.git
[submodule "modules/asset"]
	path = modules/asset
	url = git@github.com:Omniasoft/kohana-asset.git
